{{ define "main" }}
  {{ $config := partial "py_example/config.gotmpl" . }}
  {{ range $config.errors }}
    <div style="border: 2px dashed red; color: red; padding: 0.5rem 1rem; margin-bottom: 1rem;">
      {{ . | safeHTML }}
    </div>
  {{ end }}

  <!-- <pre>{{ $config | jsonify (dict "indent" "  ") }}</pre> -->

  {{- partial "resource-map.html" (dict "page" . "bom" .Params.resources) -}}

  <div class="pyexample-content">
    <!-- Parse the example file -->
    {{ $result := partial "py_example/parser.gotmpl" .Params.example_file }}

    <!-- Render the final markdown -->
    {{ $markdown := page.RenderString $result }}
    {{ if strings.Contains $markdown "{{run-on-union}}" }}
      {{- $emoji := transform.Emojify ":arrow_forward:" -}}
      {{ $openTag := "" }}
      {{ if $config.open }}
        {{ $openTag = "open" }}
      {{ end }}
      {{ $parts := split $markdown "{{run-on-union}}" }}
      {{ index $parts 0 | safeHTML }}
      <div style="margin-bottom: 1rem;">
        <sl-details summary="{{ $emoji }} Run in Union" {{ $openTag }}>
          {{ page.RenderString (partial "run-on-union.md" $config) }}
        </sl-details>
      </div>
      {{ block "source_panel" $config.origin }}{{ end }}
      {{ index $parts 1 | safeHTML }}
    {{ else if not $config.enforce }}
      {{ block "source_panel" $config.origin }}{{ end }}
      {{ $markdown }}
    {{ else }}
      {{ warnf "[Run on Union] This example is missing the {{run-on-union}} marker. Please add it to the example file. %s" .Path }}
      <div style="border: 2px dashed red; color: red; padding: 0.5rem 1rem; margin-bottom: 1rem;">
        You forgot the <code>{{ "{{ run-on-union }}" }}</code> marker.
      </div>
      {{ $markdown }}
    {{ end }}
  </div>

  {{ partial "footer-nav.html" . }}
{{ end }}

{{ define "source_panel" }}
  <div class="origin">
    Source code for this tutorial can be found
    <a href='{{ . }}'>here</a>
  </div>
{{ end }}
